/*Employee Portfolio*/
/*Last updated by Arielle Schlickman Elak Aug 6 2022*/

/*Template setup*/
:root {
    --extralight: #f5f4f4;
    --light: #a47b86;
    --medium: #6e2c3e;
    --dark: #3d1521;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 5% 0 1%;
    background-color: var(--dark);
    position: sticky;
    top: 0;
    border-bottom: 3px solid var(--light);
    z-index: 1;
}

.logo {
    width: 125px;
    height: auto;
    padding: 1%;
}

header nav {

}

header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 90px;
    flex-wrap: wrap;
}


header nav li a {
    color: var(--extralight);
    text-decoration: none;
}

header nav li a:hover, header nav li a:active {
    color: var(--light);
}

.parallax {
    background-image: url("../assets/images/flowers-bg.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax h1 {
    margin-top: 0;
    position: absolute;
    z-index: 0;

}

main {
    margin: 0 5% 0 5%;
}

.about {

}

#headshot {
    width: 200px;
    height: auto;
    border-radius: 100px;
}

.work {

}

.example {

}

.example h3 {

}

.example h4 {

}

.example p {

}

button .live {

}

.resume {

}

details {

}

summary {

}

.contact {

}

footer {

}

footer nav {

}

footer nav li {

}
