/*Employee Portfolio*/
/*Last updated by Arielle Schlickman Elak Aug 12 2022*/

/*Responsive hamburger menu contributor:*/
/*CodePen | Adaptive menu on CSS only by Álvaro*/
/*https://codepen.io/alvarotrigo*/

/*Template setup*/
:root {
    --extralight: #f5f4f4;
    --light: #a47b86;
    --medium: #6e2c3e;
    --dark: #3d1521;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4 {
    margin-top: 3vh;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
    margin-bottom: 1vw;
}

p {
    margin-top: 2vh;
}

a {
    text-decoration: none;
}

/*Responsive header configured with flex*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0 5% 0 1%;
    background-color: var(--dark);
    position: sticky;
    top: 0;
    border-bottom: 3px solid var(--light);
    z-index: 1;
}

.logo {
    width: 125px;
    height: auto;
    padding: 1%;
}

/*Responsive navigation items*/
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 90px;
    flex-wrap: wrap;
}

header nav li a,
footer nav li a {
    color: var(--extralight);
}

header nav li a:hover,
header nav li a:active,
footer nav li a:hover,
footer nav li a:active {
    color: var(--light);
}

/*Section for parallax background image*/
.parallax {
    background-image: url("../assets/images/flowers-bg.jpg");
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax :first-child{
    font-size: 50px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
}

.parallax h1, .parallax h2 {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    font-weight: 300;
    margin-top: 0;
    padding: 5% 0 0 5%;
    z-index: -1;
}

/*Main setup utilizes one row for each section, then contains a double column for side-by-side title*/
main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 7% 3% 12%;
}

section {
    margin-top: 4%;
}

/*Universal row definition for all sections*/
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 1vh;
}

/*Universal column (1/3 of screen) definition for all sections*/
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    gap: 1vh;
}

/*Universal double column (2/3 of screen) definition for all sections*/
.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2
}

/*All about items before mobile size will be on same row*/
.about {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

/*Fix for offset of sticky header and anchor link*/
h2#about,
h2#work,
h2#resume,
h2#contact {
    font-size: 6vh;
    font-weight: 400;
    scroll-margin-top: 150px;
    text-align: right;
    border-right: 5px solid var(--dark);
    width: 15%;
    padding-right: 20px;
    margin-right: 2%;
}

/*Headshot size remains the same on all sizes*/
#headshot {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-top: 1em;
    margin-right: 1em;
}

/*One block for each of the example works. Overlay box shadow smooth transition on hover*/
.example {
    border: 3px solid var(--dark);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: auto;
    box-shadow: inset 0 0 0 2000px rgba(102,62,73, 0.7);
    transition: box-shadow 0.3s ease-in-out;
}


.example:hover {
    border: 3px solid var(--light);
    box-shadow: inset 0 0 0 2000px rgba(102,62,73, 0.0);
}

.title-box {
    width: 10vw;
    background-color: #a47b86;
    color: var(--extralight);
    line-height: 1;
    padding: 0 0 1vw .5vw;
}

/*Unique background image set for each example. First project is taller than others.*/
#horiseon {
    height: 17vw;
    background: url("../assets/images/horiseon.png");
}

#psr {
    height: 10vw;
    background: url("../assets/images/psrco.png");
}

#tms {
    height: 10vw;
    background: url("../assets/images/tms-worcester.png");
}

#bunnies {
    height: 10vw;
    background: url("../assets/images/musical-bunny.png");
}

#otaku {
    height: 10vw;
    background: url("../assets/images/odk.png");
}
/*Expandable summary for resume section*/
summary {
    font-size: 20px;
    margin-top: 2vw;
}

/*Styling for each item in resume*/
details li {
    list-style-type: square;
    margin-left: 1vw;
    margin-bottom: 2vw;
}

details h2 {
    font-size: 2vw;
}

details h3 {
    font-size: 1vw;
}

details h4 {
    font-weight: 600;
}

/*Styling for contact options*/
.contact li {
    font-size: 15px;
    list-style-type: square;
    margin-left: 1vw;
}

.contact li a {
    color: var(--dark);
}

/*Responsive footer*/
footer {
    background-color: var(--dark);
    color: var(--extralight);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw 0 1vw 0;
}

footer nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    gap: 90px;
    flex-wrap: wrap;
}

/*Hide initial hamburger menu toggle before mobile screen size*/
#menu__toggle {
   visibility: hidden;
  }

/*Style changes for all screen sizes smaller than 992px wide*/
@media only screen and (max-width: 992px) {

/*Change the orientation of the logo from floating left to center by changing flex direction*/
    header {
        flex-direction: column;
        padding-top: 5%;
    }

/*CodePen | Adaptive menu on CSS only by Álvaro*/
/*https://codepen.io/alvarotrigo*/

/*Checkbox menu toggle is visible*/
    #menu__toggle {
        opacity: 0;
      }
/*When menu toggle is pressed, rotate the toggle 45 degrees */
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
/*When menu toggle is pressed, make the middle line move behind the bottom line*/
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
/*When menu toggle is pressed, make the middle line disappear behind the bottom line to finish the X*/
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
/*Check state that menu toggle has been checked*/
      #menu__toggle:checked ~ nav .menu__box {
        left: 0 !important;
      }
/*Position the menu contents when expanded*/
      .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
/*Style the hamburger menu icon and length of rotation transformation*/
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }

      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }

      /*Style navigation menu box where nav items are stored after button clicked*/
      nav .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #ECEFF1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }

      /*Style menu items in box - changed font to match site*/
      .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Segoe UI', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
      }
      /*While hovering over the item, change the background color*/
      .menu__item:hover {
        background-color: #CFD8DC;
      }

/*END Hamburger menu styling*/

/*Smaller margins on main content*/
    main {
        margin: 5%;
    }

/*Change h2 title for each section to align to left instead for mobile*/
    h2#about,
    h2#work,
    h2#resume,
    h2#contact {
        text-align: left;
        border-right: none;
        border-left: 5px solid var(--dark);
        padding-right: 0;
        margin-right: 0;
        padding-left: 10px;
        width: 100%;
    }
/*Change flex direction from row to column to make items align vertically*/
    .row {
        flex-direction: column;
    }
/*Mobile responsive height changes for each work example*/
    #horiseon {
        height: 30vh;
    }

    #psr,
    #tms,
    #bunnies,
    #otaku {
        height: 20vh;
    }

    details h2 {
        font-size: 40px;
    }

    details h3 {
        font-size: 20px;
    }

    .title-box {
        width: 40%;
    }
}
