/*Employee Portfolio*/
/*Last updated by Arielle Schlickman Elak Aug 6 2022*/

/*Template setup*/
:root {
    --light-pink: #a47b86;
    --medium-maroon: #6e2c3e;
    --dark-purple: #3d1521;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 1.5;
}

header {

}

.logo {

}

header nav {

}

header nav li {

}

.parallax {

}

.parallax h1{

}

.about {

}

.work {

}

.example {

}

.example h3 {

}

.example h4 {

}

.example p {

}

button .live {

}

.resume {

}

details {

}

summary {

}

.contact {

}

footer {

}

footer nav {

}

footer nav li {

}
